<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Registrar Detalle de Habitacion</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Codigo</label>
              <input type="text" nbInput fullWidth placeholder="Ej. 0011">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Llave</label>
              <input type="text" nbInput fullWidth placeholder="Ej. WIFI">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Nombre</label>
              <input type="text" nbInput fullWidth placeholder="Ej. Wi-Fi">
            </div>            
            <button nbButton status="success" hero>Crear</button>          
          </form>
        </nb-card-body>
      </nb-card>      
    </div>
  
    <div class="col-lg-6">     
    </div>
  </div>
  